.header{
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
}

.content{
    font-family: 'Times New Roman', Times, serif;
    padding-left: 15px;
}

hr.style{
    border-top: 3px double #8c8b8b;
}

ul {
    list-style-type: none;
}

li{
    padding-top: 10px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(161, 153, 153);
}