html, body, #root, .App {
  height: 100%;
  overflow-y: scroll;
  overflow: auto;
}


.App{
  background-color: rgb(220, 222, 228);
  height: 100%;
}

#nav{
  background-color: rgb(43, 59, 52);
}


#orgName{
  font-size: 1.75em;
  margin-left: 10px;
}


.footer{
  padding: 10px;
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-info{
  font-size: 0.975em;
}